

html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: 'IBM Plex Sans';
}
li {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 5rem;
}

.hello {
  text-align: center;
  width: 100%;
  padding-top: 5rem;
  margin: 0 auto;
  height: 100vh;
  background: lightcoral;
}

::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
a {
  color: #fff;
}

a:visited {
  color: white;
}

.app header {
  text-align: center;
}

.app ul.member-list {

}

table,td,th {
  border-collapse:collapse;
  border: 1px solid #000000;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#div {
  display: flex;
  justify-content: center;
}